#navbar-style {
    background-color: #222222;
}

.color-navbar {
    color: aliceblue;
}

/*Home*/

.song {
    background-color: #d8d8d8;
    box-shadow: 1px 2px 5px #000;
    height: 50px;
    transition: 1s linear;
}

.song:hover {
    opacity: 0.5;
}

.song-button {
    border: none;
    background-color: transparent;
}

.box-music {
    width: 200px;
    height: 200px;
    /*background-image: url("");*/
    background-color: #d8d8d8;
    transition: 1s ease;
    border-top: solid 0.3em #ffc000;
}

.box-music>span {
    display: block;
    background-color: #ffc000;
    height: 0;
    transition: 1s ease;
}

.box-music>span:hover {
    height: 100%;
}

#music-novelties>div[class^="col-"]>.box-music>span>form {
    text-align: center;
}

#music-novelties>div[class^="col-"]>.box-music>span>form>button {
    margin-top: 90px;
}

select[name="genre-music"] {
    width: 250px;
}

input[name="song-name"] {
    width: 250px;
}

.section {
    height: 20em;
}

.section>div>h3 {
    border: 1px solid #ffc000;
    background-color: #ffc000;
    height: auto;
    padding: 50px;
}

#home-message {
    margin-top: 3em;
}

.footer {
    background-color: #000;
    height: 16em;
}

/*Sign up*/

/*.sign-up-body {
    background-image: url(https://aws.traveler.es/prod/designs/v1/assets/1800x1202/78762.jpg);
    background-size: 100% 150%;
    background-repeat: no-repeat;
}*/

#form {
    width: 500px;
    height: 520px;
    margin: 0 auto;
    margin-top: 5em;
    padding: 10px;
    background-color: #cacaca83;
}

.message {
    width: 555px;
    text-align: center;
    margin: 0 auto;
    margin-top: 2em;
}

/*Login*/

#login-form {
    width: 500px;
    height: 350px;
    margin: 0 auto;
    margin-top: 5em;
    padding: 10px;
    background-color: #cacaca83;
}

/*Songs section*/

#info-profile {
    box-shadow: 5px 5px 5px #3f3f3f;
}

#play {
    cursor: pointer;
}

#pause {
    cursor: pointer;
    display: none;
}

#timeline {
    width: 90%;
    height: 2px;
    margin-top: 20px;
    margin-left: 10px;
    float: left;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: #0000004d;
}

#playhead {
    width: 8px;
    height: 8px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-top: -3px;
    background: black;
    cursor: pointer;
}

.disabled-button {
    cursor: not-allowed;
}

/*Edit profile*/

.profile-form {
    width: 500px;
    margin: 0 auto;
    margin-top: 2em;
}

/*My songs section*/
#new-song-form {
    display: none;
    margin-top: 15em;
}

#songs-section {
    background-color: #e9e9e9;
}

.box-music-mySongs {
    float: left;
    margin: 10px;
    width: 200px;
    height: 200px;
    /*background-image: url("");*/
    background-color: #d8d8d8;
    transition: 1s ease;
    border-top: solid 0.3em #ffc000;
}

#edit-image-form {
    display: none;
}